#logs {
    float: right;
    list-style: none;
    margin-top: 20;
    margin-left: 10;
    border-width: thin;
    border-style: solid;
    border-color: #005f7f;
    width: 850px;
    height: 400px;
    line-height: 1.8em;
    border-radius: 10px;
    text-align: center;
}