body {
    margin: 0;
    padding: 0;
    background: #ccc;
}

.nav ul {
    list-style: none;
    background-color: #005f7f;
    text-align: center;
    padding: 0;
    margin: 0;
}
.nav li {
    font-family: 'Oswald', sans-serif;
    font-size: 1em;
    line-height: 20px;
    height: 20px;
    display: inline-block;
    width: 120px;
}

.nav a {
    text-decoration: none;
    color: #fff;
    display: block;
    transition: .3s background-color;
}

.nav a:hover {
    background-color: #005f6f;
    font-size: 1.01em;
}

.nav a.active {
    background-color: #fff;
    color: #444;
    cursor: default;
}

.container {
    width: 1000px;
}

#admin {
    list-style: none;
    margin-top: 20;
    margin-left: 10;
    border-width: thin;
    border-style: solid;
    border-color: #005f7f;
    width: 160px;
    height: 120px;
    line-height: 1.8em;
    border-radius: 10px;
    text-align: center;
}

#bckup {
    list-style: none;
    margin-top: 20;
    margin-left: 10;
    border-width: thin;
    border-style: solid;
    border-color: #005f7f;
    width: 160px;
    height: 120px;
    line-height: 1.8em;
    border-radius: 10px;
    text-align: center;
}
h4 {
    border-radius: 10px;
    margin: 0;
    background-color: 005f7f;
    color: white;
}

#leftSubContainer {
    float: left;
}

#logs {
    float: right;
    list-style: none;
    margin-top: 20;
    margin-left: 10;
    border-width: thin;
    border-style: solid;
    border-color: #005f7f;
    width: 800px;
    height: 400px;
    line-height: 1.8em;
    border-radius: 10px;
    text-align: center;
}