body {
    margin: 0;
    padding: 0;
    background: #ccc;
}

.container{
    position: relative;
    width: 1070px;
}

h4 {
    border-radius: 10px;
    margin: 0;
    background-color: 005f7f;
    color: white;
}

#myTasks {
    float: left;
    margin-top: 20px;
    margin-left: 10px;
    border-width: thin;
    border-style: solid;
    border-color: #005f7f;
    width: 500px;
    height: 240px;
    line-height: 1.8em;
    border-radius: 10px;
    text-align: center;

}

#allTasks{
    float: right;
    margin-top: 20px;
    margin-left: 10px;
    border-width: thin;
    border-style: solid;
    border-color: #005f7f;
    width: 500px;
    height: 500px;
    line-height: 1.8em;
    border-radius: 10px;
    text-align: center;

}

#unassignedTasks{
    float: left;
    margin-top: 20px;
    margin-left: 10px;
    border-width: thin;
    border-style: solid;
    border-color: #005f7f;
    width: 500px;
    height: 240px;
    line-height: 1.8em;
    border-radius: 10px;
    text-align: center;

}