body
{
    /*background-color: #fcfcfc;*/

}
.center-div-welcome
{
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 370;
    left: 0;
    width: 180px;
    height: 120px;
    background-color: #ccc;
    border-radius: 10px;

}
.center-div-fields
{
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 200px;
    height: 200px;
    background-color: #ccc;
    border-radius: 3px;
}