/*header*/
.header__main {
    display: table;
    table-layout: fixed;
    width: 100%;
    box-sizing: border-box;
    padding: 14px 0px 4px;
    box-shadow: none !important;
    position: relative;
}

.header__column_category {
    position: fixed;
    width: 170px;
    padding-top: 3px;
}

.header__column_product {
    width: 100%;
    padding-top: 3px;
}

.gridHeaderCell {
    padding: 0;
    padding-right: 5px;
    padding-left: 4px;
    border-color: #B3AC86 !important;
    background-color: #f5f3df;
    text-align: center;
    white-space: nowrap;
    border-right: 1px solid #bfb999;
    border-bottom: 1px solid #ccc6ad;
    border-left: none;
    border-top: none;
    overflow: hidden;
    color: #594304;
    font-weight: bold;
}

.main {
    position: relative;
    box-sizing: border-box;
    min-height: 100%;
    padding-bottom: 40px;
}

/*column category*/
.main__left {
    position: fixed;
    width: 200px;
}

/*column product*/
.main__center {
    z-index: 0;
    padding-left: 30px;
    margin-left: 150px;
}

/*category*/
.navigation__item {
    position: relative;
    opacity: 1;
    transition-property: opacity, top, height;
}

.navigation__item_state_selected .category:before {
    background-color: #fc0;
}

.navigation__item .category:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 3px;
    content: '';
}

.navigation__item_state_selected .category {
    display: block;
    width: auto;
    padding: 0 0 0 20px;
}

.navigation__item .category__url {
    display: block;
    width: auto;
    padding: 0 0 0 20px;
}

.navigation__item, .navigation__item .category {
    line-height: 36px;
    height: 36px;
}

.navigation__item .category__url, .navigation__item .category__url:visited {
    color: #999;
}

/*product*/
.product-item {
    line-height: 16px;
    margin-bottom: 26px;
    color: #333;
}

.product-item__title {
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    position: relative;
    margin: 0;
    padding: 0;
}

.product-item__title-link {
    display: inline-block;
    overflow: hidden;
    max-width: 100%;
    margin: -10px 0 0 -10px;
    padding: 10px 0 0 10px;
    vertical-align: top;
    white-space: nowrap;
    text-decoration: none;
    text-overflow: ellipsis;
    color: #00c;
}

.product-item__text {
    line-height: 17px;
    word-wrap: break-word;
}

.product-item__stock {
    font-size: 14px;
    line-height: 17px;
    color: #070;
    margin-bottom: 4px;
    margin-top: 2px;
}

.product-item__stock_text {
    display: inline-block;
    color: #070;
    overflow: hidden;
    max-width: 95%;
    margin-top: -2px;
    white-space: nowrap;
    text-overflow: ellipsis;
    vertical-align: middle;
}
