p {
    font-family: Calibri;
    color: darkblue;
    font-size: 14px;
}
button {
    color: gray;
    font-size:14px;
    font-family:Calibri;
}

body {
    background-color: #F5F5F5;
    padding: 0px;
    margin: 0px;
    color: #045757;
}

h1 {
    padding: 0px;
    margin: 0px;
    font-size: 24px;
    border-bottom: 2px solid #045757;
    margin-bottom: 15px;
    text-align: center;
}