body {
    font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    color: #000;
    font-size: 13px;
    background:url(image/Help-Desk.png) no-repeat;
    background-size: cover;
}

#container {
    min-height: 400px;
}

.block {

}

.left_menu {
    position:absolute;
    left:110px;
    top:387px;
    width:148px;
    height:25px;
    z-index:1;
}

.left_menu_desk{
    color: aqua;
    position:absolute;
    left:110px;
    top:20px;
    width:400px;
    height:25px;
    z-index:1;
}

.right_menu {
    float: right;
    width: 100px;
    min-height: 400px;
    padding: 20px;
    display: block;
}

.links {
    position: absolute;
    left: auto;
    top: auto;
    width: 96px;
    height: 25px;
    z-index: 2;
}

.content {
    padding: 20px;
    width: 800px;
    min-height: 400px;
}

.Created_by{
    position:absolute;
    left:900px;
    top:900px;
    width:500px;
    height:16px;
    text-align:left;
    color: white;
    font-size:13px;
}

.summary {
    position:absolute;
    left:800px;
    top:200px;
    width:500px;
    height:100px;
    text-align: left;
    color:red;
    font-size:16px;
}

.text_aqua{
    color: blue;
    font-size:13px;
}

.text_white{
    color: white;
    font-size:13px;
}

.welcome {
    position:absolute;
    left:850px;
    top:20px;
    width:500px;
    height:30px;
    z-index:3;
    text-align:left;
}