body {
    font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
    background-color: #EEE;
    margin: 0;
    padding: 0;
    color: #000;
    font-size: 13px;
    height: 100%;
}

#container {
    min-height: 400px;
}

.block {

}

.left_menu {
    float: left;
    width: 1000px;
    min-height: 400px;
    padding: 20px;
    display: block;
}

.right_menu {
    float: right;
    width: 100px;
    min-height: 400px;
    padding: 20px;
    display: block;
}

.links {
    position: absolute;
    left: auto;
    top: auto;
    width: 96px;
    height: 25px;
    z-index: 2;
}

.content {
    padding: 20px;
    width: 800px;
    min-height: 400px;
}

.lower_column {

}