.block1{
    margin: 0;
    padding: 0;
    background-color: red;
}
.block1 p{
    margin: 0;
    padding: 0;
}
.block2{
    margin: 0;
    padding: 0;
    background-color: green;
}
.block2 p{
    margin: 0;
    padding: 0;
}