<!--
Comment for now, convert to plain html
<%--
  Created by IntelliJ IDEA.
  User: Igort
  Date: 09.06.2016
  Time: 15:40
  To change this template use File | Settings | File Templates.
--%>
<%@ page contentType="text/html;charset=UTF-8" language="java" %>
-->
<html>
<head>
  <title>Admin page</title>
  <link rel="stylesheet" href="css/admin.css">
</head>
<body>
<div class="nav">
  <ul>
    <li><a href="desk.html">Desk</a></li>
    <li><a href="#">Issues</a></li>
    <li><a href="#">Profile</a></li>
    <li><a href="admin.html">Admin</a></li>
    <li><a href="#"></a></li>
    <li><a href="#"></a></li>
    <li><a href="#"></a></li>
    <li><a href="#">Logout</a></li>
  </ul>
</div>

<div class="container">
  <div id="leftSubContainer">
    <div id="admin">
      <h4>Users Administration</h4>
      <li><a href="#">Create User</a></li>
      <li><a href="#">Delete User</a></li>
      <li><a href="#">Edit User</a></li>
    </div>
    <div id="bckup">
      <h4>Backup</h4>
      <li><a href="#">Create Backup</a></li>
      <li><a href="#">Delete Backup</a></li>
      <li><a href="#">Apply Backup</a></li>
    </div>
  </div>
  <div class="admin" id="logs">
    <h4>Logs</h4>
  </div>
</div>
</body>
</html>
