<!--Commented for now, coding plain html, no beans
<%--
  Created by IntelliJ IDEA.
  User: Igort
  Date: 09.06.2016
  Time: 14:52
  To change this template use File | Settings | File Templates.
--%>
<%@ page contentType="text/html;charset=UTF-8" language="java" %>
-->
<html>
<head>
  <title>Welcome to HelpDesk</title>
  <link rel="stylesheet" href="css/index.css">
</head>
<body>
<div class="center-div-welcome" style="text-align:center;border:1px solid aqua" >
  <h1>Welcome to HelpDesk</h1>
</div>
<div class="center-div-fields">
  <p style="text-align: center ">Please enter your credentials:</p>
  <label for="login">Login:<br>
    <input type="text" name="login" id="login" /></label><br>
  <label for="password">Password:<br>
    <input type="password" maxlength="15" name="password"
           value="MyPassword" id="password" /></label><br><br>
  <input type="submit" value="Submit">
</div>
</body>
</html>
